* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url("https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png");
}

.container, .row, header {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.results{
  margin-top: 20px;
}

.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3, .col-6 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* Mobile defaults */
.col-3, .col-6 {
  width: 100%;
  margin-bottom: 20px;
}

@media only screen and (min-width: 640px) {
  .col-6 {
    width: 50%;
  }
  .col-3 {
    width: 25%;
  }
}

header, h2, .name{
  text-align: center;
}

header{
  padding: 20px;
}

.box{
  padding: 1.04166666%;
  width: 100%;
}

.poke-card-button{
  width: 100%;
}

p, h4{
  margin: 0;
  padding-left: 5px;
}

h4{
  padding-top: 10px;
  padding-bottom: 10px;
}

.img{
  height: 100%;
  width: 100%; 
}

.logo{
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.right{
  background-color: #30a7d7;
  border-radius: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
  height: 100%;
}

.left{
  background-color: lightgrey;
  border-radius: 10px;
}

.col-3{
  text-align: center;
}

.col-6{
  height: 100%;
}

.poke-card{
  height: 50px;
  width: 50px;
}