* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container, .row, header {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.results{
  margin-top: 20px;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-3, .col-6 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* Mobile defaults */
.col-3, .col-6 {
  width: 100%;
  margin-bottom: 20px;
}

@media only screen and (min-width: 640px) {
  .col-6 {
    width: 50%;
  }
  .col-3 {
    width: 25%;
  }
}

.abilities{
  background-color: blue;
}

.moves{
  background-color: red;
}

header, h2, .name{
  text-align: center;
}

.box{
  padding: 1.04166666%;
}

p, h4{
  margin: 0;
  padding-left: 5px;
}

h4{
  padding-top: 20px;
  padding-bottom: 20px;
}