* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'pokemon';
  src: url('pokemon_solid-webfont.woff2') format('woff2'),
       url('pokemon_solid-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url("https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png");
}

.container, .row, header {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.hidden, .hidden-next, .hidden-prev {
  display: none;
}

.results{
  margin-top: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;
}

.col-3, .col-6 {
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* Mobile defaults */
.col-3, .col-6 {
  width: 100%;
  margin-bottom: 20px;
}

@media only screen and (min-width: 640px) {
  .col-6 {
    width: 50%;
  }
  .col-3 {
    width: 25%;
  }
  button[name="next"]{
    float: right;
  }
}

header, h2, .name, h5{
  text-align: center;
}

header{
  padding: 20px;
}

h1,h2,h3,h4,h5,h6, label{
  font-family: 'pokemon';
  letter-spacing: 3px;
}

button{
  font-family: 'pokemon';
  letter-spacing: 3px;
  background-color: rgb(240, 240, 240);
}

.box{
  padding: 1.04166666%;
  width: 100%;
  height: 200px;
}

button[name="poke-card"]{
  width: 100%;
  font-size: 16pt;
  height: 100%;
}

button:hover{
  background-color: darkgrey;
}

p, h4{
  margin: 0;
  padding-left: 5px;
}

h4{
  padding-top: 10px;
  padding-bottom: 10px;
}

h2, h5{
  width: 100%;
}

.img{
  height: 100%;
  width: 100%; 
}

.logo{
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.right{
  background-color: #30a7d7;
  border-radius: 10px;
  padding: 20px;
  height: 100%;
}

.left{
  background-color: lightgrey;
  border-radius: 10px;
}

.col-3{
  text-align: center;
}

.poke-card{
  height: 50px;
  width: 50px;
}

.types button{
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0;
  padding: 7px 20px;
  width: 35%;
}

button[type="submit"], button[name="back"] {
    background-color: #FFCB05;
    border: 4px solid #3466AF;
    color: black;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input{
  padding: 8px;
}
